@import "./clear.scss";
@import "./utility-classes.scss";
@import "./fonts/clear-sans.css";
@import "./theming.scss";

:root {
	--default-field-width: 500px;
	--default-grid-gap: 15px;
}

html,
body {
	margin: 0;
	padding: 0;

	min-height: 100vh;
	min-height: 100svh;

	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	font-size: 18px;
	font-display: swap; // Ensure that text stays visible during font load

	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: top center;

	accent-color: var(--button-background);
	color: var(--color);
}

.noscript {
	background-color: #8f7a66;
	color: #faf8ef;

	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	text-align: center;

	p {
		margin: 0;
	}
	
	z-index: 1;
}

a {
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

strong {
	&.important {
		text-transform: uppercase;
	}
}

hr {
	border: none;
	border-bottom: 1px solid var(--text-color, #776e65);
	opacity: 0.5;
}
