@use "sass:map";
@use "sass:math";

@import "./helpers.scss";
@import "./fonts/clear-sans.css";

$field-width: 500px;
$mobile-threshold: $field-width + 20px;

$text-color: #776e65;
$bright-text-color: #f9f6f2;
$title-color-dark: #e6d2bf;

$transition-speed: 100ms;

@keyframes popdown {
	from {
		margin-top: -50vh;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 1;
	}
}

@keyframes darken {
	from {
		opacity: 0;
		/* backdrop-filter: blur(0px); */
	}
	to {
		opacity: 1;
		/* backdrop-filter: blur(2px); */
	}
}

.underbar-container {
	display: -webkit-flex;
	display: flex;
	width: 100%;

	margin-top: 0.5em;

	gap: 1em;

	.button-container {
		display: flex;
		gap: 1em;
	}
}

.kurin-palautus-container {
	justify-content: center;
	flex: 1; // mf's browsers don't support flex: content???
	display: -webkit-flex;
	display: flex;
	text-align: center;
	min-height: 30px;
	position: relative;
}

.kurin-palautus {
	padding: 0 5px;
	background-color: #c00;
	cursor: pointer;
	width: fit-content;
	transition: 1s background, 1s color;
	display: -webkit-flex;
	display: flex;
	align-items: center;
	justify-content: center;

	padding: 0.5em 0.3em;

	// border: $game-background 1px solid;

	// &:hover {
	//   border: $game-background-dark 1px solid;
	// }
}

.HAC-container {
	position: relative;
	background: #bbada0;
	padding: 15px 15px;
	font-size: 25px;
	height: 25px;
	line-height: 47px;
	font-weight: bold;
	border-radius: 3px;
	color: white;
	text-align: center;
}
.HAC-container::after {
	content: "HAC";
	position: absolute;
	width: 100%;
	top: 10px;
	left: 0;
	text-transform: uppercase;
	font-size: 13px;
	line-height: 13px;
	text-align: center;
	color: #eee4da;
}
.HAC-status {
	cursor: default;
}

.parin-kulautus {
	text-transform: uppercase;
	padding: 0 1em;
	margin-bottom: 0;
	text-decoration: none;
	color: #eee;
	font-size: 11px;
	letter-spacing: 0.055em;
	transition: 1s background, 1s color;
}

.disclaimer {
	padding-block: 20px;
	font-size: small;
	text-align: center;
}

.disclaimer p {
	margin: 0;
}

.disclaimer > p {
	/* Ensure visibility for all themes */
	background-color: #8f7a66 !important;
	color: white !important;
	border-radius: 3px !important;
}

.discord {
	margin-top: 40px;
	font-size: small;
	text-align: center;
}

@include keyframes(move-up) {
	0% {
		top: 25px;
		opacity: 1;
	}

	100% {
		top: -50px;
		opacity: 0;
	}
}

.scores-container {
	float: right;
	text-align: right;
	margin-bottom: 20px;
	min-width: 20px;
	max-width: 50%;
}

.score-container,
.best-container {
	box-sizing: content-box;
	$height: 25px;

	position: relative;
	background: var(--game-score-background);
	padding: 15px 20px;
	font-size: $height - 5px;
	height: $height;
	line-height: $height + 22px;
	font-weight: bold;
	border-radius: 3px;
	color: white;
	text-align: center;
	flex: 1; // mf's browsers don't support flex: content???
	min-width: 50px;

	&:after {
		position: absolute;
		width: 100%;
		top: 10px;
		left: 0;
		text-transform: uppercase;
		font-size: 13px;
		line-height: 13px;
		text-align: center;
		color: var(--tile-color);
	}

	.score-addition {
		position: absolute;
		right: 30px;
		font-size: $height;
		line-height: $height;
		font-weight: bold;
		color: #776e65e6;
		z-index: 100;
		@include animation(move-up 600ms ease-in);
		@include animation-fill-mode(both);
	}
}

.score-container:after {
	content: var(--c, "Arvosana");
}

.best-container:after {
	content: var(--c, "Paras Halla");
}

p {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.65;
}

hr {
	border: none;
	border-bottom: 1px solid lighten($text-color, 40%);
	margin-top: 20px;
	margin-bottom: 30px;
}

.container {
	width: var(--field-width);
	margin: 0 auto;
	padding-top: 40px;
}

.new-above-game {
	display: -webkit-flex;
	display: flex;
	gap: 1em;
}
.above-game-left {
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	flex: 1;
	p {
		float: left;
		margin-bottom: 0;
		font-size: smaller;
	}
}
.above-game-right {
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	gap: 0.5em;
	flex: 1;
	flex-wrap: wrap;
	align-content: center;
}

.restart-button {
	flex: content;
	text-align: center;
	display: flex;
	overflow: hidden;
	padding: 0;
	height: 50px;
	line-height: 52px;
	transform: inherit !important; // Disable button hover effect
	.uusi-jakso {
		transition: all 0.25s ease;
		transform: translateX(0);
		flex: 1;
		overflow: hidden;
		line-height: 48px;
	}
	.size-selector {
		transform: translateX(100%);
		transition: all 0.25s ease;
		flex: 0;
		overflow: hidden;

		display: -webkit-flex;
		display: flex;
		button {
			flex: 1; // mf's browsers don't support flex: content???
			font-size: 1em;
			border: none;
			border-radius: 3px;
			margin: 3px;
			cursor: pointer;
			overflow: hidden;
			background: #ddd;
			color: black;
		}
		button:hover {
			background: #ccc;
		}
		button.restart-4x4::after {
			content: "oletus";
			display: block;
			line-height: 40%;
			font-size: 75%;
			margin-top: -1.5px;
		}
		button.restart-3x3::after {
			content: " ";
			display: block;
			line-height: 40%;
			font-size: 75%;
			margin-top: -1.5px;
		}
	}
}
.restart-button.open {
	.uusi-jakso {
		transform: translateX(-100%);
		flex: 0;
	}
	.size-selector {
		transform: translateX(0);
		flex: 1;
	}
}

.game-explanation {
	margin-top: 50px;
}

@include smaller($mobile-threshold) {
	// Redefine variables for smaller screens
	:root {
		--field-width: 320px !important;
		--grid-gap: 10px !important;
		--tile-border-radius: 3px !important;
	}

	html,
	body {
		font-size: 15px;
		padding: 0;
		margin: 0;
		background-image: none !important;
	}

	h1.title {
		font-size: 38px;
		margin-top: 15px;
		max-width: 50%;
		word-wrap: normal;
	}

	.container {
		width: var(--field-width);
		margin: 0 auto;
		padding: 20px 0;
	}

	.heading {
		margin-bottom: 10px;
	}

	// Rest of the font-size adjustments in the tile class
	.tile .tile-inner {
		font-size: 35px;
	}

	.game-message {
		a {
			padding: 0 10px !important;
		}

		.tilanne {
			font-size: 40px !important;
			height: 30px !important;
			line-height: 30px !important;
			margin-top: 90px !important;
		}

		.kurinpalautukset {
			font-size: 20px !important;
		}
	}

	.game-container .kurin-palautus-viesti {
		top: 20px;

		& img {
			width: 170px;
		}
	}

	.underbar-container {
		margin-top: 0.5em;
		& .button-container {
			gap: 0.5em;
		}
	}
}

.theme-0 .color-button img {
	filter: invert(86%) sepia(34%) saturate(170%) hue-rotate(341deg) brightness(97%) contrast(86%);
}

.theme-1 .color-button img {
	//very fucking scufferoni but i couldn't find a better way to do this in sass
	filter: invert(43%) sepia(4%) saturate(922%) hue-rotate(349deg) brightness(99%) contrast(93%);
}

.theme-3 .color-button img {
	filter: invert(79%) sepia(81%) saturate(3152%) hue-rotate(347deg) brightness(101%) contrast(91%);
}

.theme-5 .color-button {
	//should this be done in the sass loops? yes. do i care? no.
	--color: #3f3b37;
}

.theme-14 .color-button img {
	filter: invert(86%) sepia(34%) saturate(170%) hue-rotate(341deg) brightness(97%) contrast(86%);
}

// Ensure that pixelart looks nice and crisp
.theme-4,
.theme-5 {
	image-rendering: pixelated;
}

.event-button {
	text-decoration: none !important;
	background: transparent;
	border: none;
	outline: none;
	font-size: 1em;
}

#darkmode-icon {
	filter: saturate(0) invert(1);
}

#darkmode-icon.dark {
	filter: saturate(0);
}

.parin-kulautus,
.kurin-palautus {
	background: var(--break-button-background-false);
	color: var(--break-button-color-false);
	&.allowed {
		background: var(--break-button-background-true);
		color: var(--break-button-color-true);
	}
}
