// Default component styles
h1.title {
	font-size: 45px;
	font-weight: bold;
	margin: 0;
	display: block;
	float: left;
	transition: 0.25s color;
}
.button {
	padding-inline: 0.25rem;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	font-size: 1em;
	font-family: "Clear Sans";
	cursor: pointer;
}
a.button {
	text-decoration: none;
}
.icon-button {
	font-size: 1.25em;
	height: 100%;
}
.background-none {
	background: none;
}
.action-btn {
	padding: 0.75rem;
	color: var(--button-color);
	background: var(--button-background);
	border: 1px solid var(--button-background);
	transition: transform 200ms;
}
a.action-btn {
	color: var(--button-color) !important;
}
.action-btn:hover {
	transform: scale(1.03);
}
.action-btn:active {
	transform: scale(0.97);
}
.action-btn:disabled {
	filter: saturate(0);
}
.discourage {
	background: transparent;
	background: color-mix(in srgb, var(--button-background) 75%, transparent 25%);
}
.discourage * {
	text-shadow: 0 0 0.75em var(--button-background);
}

.badge {
	border-radius: 999px;
	border: 1px solid var(--color);
	background: var(--color);
	color: var(--dialog-background);
	padding-inline: 1em;
}

.tab {
	min-height: 3em;
	background: inherit;
	color: var(--color);
	font-weight: bold;
	font-size: 1.2em;
	padding: 0.25em 0.5em;
	cursor: pointer;

	text-decoration: none;

	--border-amount-max: 0.5em;
	--border-amount: 1px;
	--border-color: color-mix(in srgb, var(--button-background) 50%, transparent 50%);
	--border-color-active: color-mix(in srgb, var(--button-background) 80%, transparent 20%);
	border: 0 solid transparent;
	border-bottom: var(--border-amount) solid var(--border-color);
	transition: border 200ms;
}
.tab:hover {
	--border-amount: calc(var(--border-amount-max) / 3);
	--border-color: var(--border-color-active);
}
.tab.active {
	--border-amount: calc(var(--border-amount-max) / 1.5);
	--border-color: var(--border-color-active);
}
.tab.active:hover {
	--border-amount: calc(var(--border-amount-max));
	--border-color: var(--border-color-active);
}

.panel-frosted {
	--bg-mix: color-mix(in srgb, var(--dialog-background) 50%, var(--game-container-background) 50%);
	--bg-transparent: color-mix(in srgb, var(--bg-mix) 40%, transparent 60%);
	--border-highlight: color-mix(in srgb, var(--bg-transparent) 95%, var(--color) 5%);
	background: var(--bg-transparent);
	border: 1px solid var(--border-highlight);
	backdrop-filter: blur(10px);
	border-radius: var(--tile-border-radius, 0.25rem);
}

.blurry-bg {
	background-image: url("/img/ABC/blur_night.webp") !important;
	background-size: cover !important;
}

.theme-1,
.theme-5,
.theme-16 {
	.blurry-bg {
		background-image: url("/img/ABC/blur.webp") !important;
	}
}
